table {
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

td, th {
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: grey;
  color: white;
}
